In [158]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostClassifier

In [159]:
train_data = pd.read_csv("cu-regression-challenge/train_data.csv")
train_data = train_data.dropna()

In [160]:
train_data.head()

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7291,4058200630,20141002T000000,3,1.75,2190,7021,1.0,0,2,...,1390,800,1953,0,98178,47.5033,-122.232,2180,7155,353000
1,14835,3613600150,20150105T000000,3,2.50,2370,6840,2.0,0,0,...,2370,0,1987,0,98119,47.6503,-122.366,1590,4400,300523
2,15880,7170200080,20140617T000000,2,1.00,1230,3800,1.0,0,0,...,1230,0,1928,0,98115,47.6797,-122.292,1610,3800,435000
3,8812,9542300530,20141124T000000,4,2.25,2510,9963,1.0,0,0,...,2200,310,1967,0,98005,47.5973,-122.177,3110,9963,800000
4,17220,3626039028,20140818T000000,3,1.00,1160,7491,1.0,0,0,...,1160,0,1917,0,98177,47.7024,-122.359,1800,2267,417500

In [161]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(train_data, test_size=0.2, random_state=42)

In [170]:
reg = sklearn.linear_model.LinearRegression(fit_intercept=True, normalize=True, copy_X=True, n_jobs=None)
reg2 = linear_model.Lasso(alpha=1,random_state=0,normalize=True,max_iter=10000000)
reg3 = DecisionTreeRegressor(max_depth=10)

In [172]:
x = reg.fit(train_set.iloc[:,3:21],train_set['price'])
x2 = reg2.fit(train_set.iloc[:,3:21],train_set['price'])
x3 = reg3.fit(train_set.iloc[:,3:21],train_set['price'])

In [173]:
reg2.coef_

array([-3.52457173e+04,  4.15844537e+04,  1.36419626e+02,  1.63701647e-01,
        6.64629754e+03,  5.40567653e+05,  5.18938072e+04,  2.86476367e+04,
        9.64944780e+04,  3.57234134e+01,  0.00000000e+00, -2.52522089e+03,
        1.88663906e+01, -5.36810364e+02,  6.04505140e+05, -2.08291529e+05,
        2.24651072e+01, -4.17950148e-01])

In [174]:
mse = mean_squared_error(test_set['price'], x.predict(test_set.iloc[:,3:21]),squared=False)
mse

197485.92488433034

In [175]:
mse2 = mean_squared_error(test_set['price'], x2.predict(test_set.iloc[:,3:21]),squared=False)
mse2

197455.2250840294

In [176]:
mse3 = mean_squared_error(test_set['price'], x3.predict(test_set.iloc[:,3:21]),squared=False)
mse3

158524.3003928034

In [177]:
mse - mse2

30.69980030093575

In [157]:
val_data = pd.read_csv("cu-regression-challenge/val_data.csv")
val_data.head()

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,15544,1310430130,20141009T000000,4,2.75,2790,6600,2.0,0,0,...,9,2790,0,2000,0,98058,47.4362,-122.109,2900,6752
1,17454,2540830020,20150401T000000,3,2.25,1630,6449,1.0,0,0,...,7,1310,320,1986,0,98011,47.7275,-122.232,1620,7429
2,21548,8835770330,20140819T000000,2,1.50,2370,184231,2.0,0,0,...,11,2370,0,2005,0,98045,47.4543,-121.778,3860,151081
3,3427,7732400490,20141105T000000,4,2.50,2270,7665,2.0,0,0,...,9,2270,0,1986,0,98052,47.6612,-122.148,2450,8706
4,8809,2800031,20150401T000000,3,1.00,1430,7599,1.5,0,0,...,6,1010,420,1930,0,98168,47.4783,-122.265,1290,10320

In [181]:
pred = x3.predict(val_data.iloc[:,3:21])

In [182]:
pred_df = pd.DataFrame({'Id':val_data['id'],'price':pred})

In [183]:
pred_df.head()

           id          price
0  1310430130  432928.571429
1  2540830020  385282.208589
2  8835770330  713512.571429
3  7732400490  606554.097222
4     2800031  246100.982877

In [184]:
pred_df.to_csv("test_output.csv",index=False)